# Compiled object files
/target
/.idea
/.vscode
/.DS_Store
*.log
/.cache

# Kernel build artifacts
/kernel/*.ko
/kernel/*.mod
/kernel/*.mod.c
/kernel/*.o
/kernel/*.lto.o
/kernel/*.lds
/kernel/*.order
/kernel/*.symvers
/kernel/Module.symvers
/kernel/.*.cmd
/kernel/**/*.o
/kernel/**/*.cmd
/kernel/**/.*.cmd
/kernel/compile_commands.json
/.codex/

# AI
AGENTS.md
/.claude
/.agent

# WebUI build artifacts
crates/bt-webui/dist/*
crates/bt-webui/node_modules/*
